@mixin flex($justify-content: space-between, $align-items: center, $flex-direction: row) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    align-content: center;
    flex-direction: $flex-direction;
}

@mixin font($family, $sans, $weight, $size) {
    font-family: $family, $sans;
    font-weight: $weight;
    font-size: $size;
}

@mixin mobile {
    @media only screen and (max-width: $mobile) {
        @content;
    }
}
