//BREAKPOINTS
$mobile: 425px;
$tablet: 1024px;
$desktop: 1920px;


//COLORS

//Primary
$red: #fe7867;
$yellow: #fad400;
$des-cyan: #25564b; //graphic design text
$dark-blue: #19536b; //photography text
$moderate-light-cyan: #90d4c5; //footer background
$moderate-cyan: #458c7e; //footer text

//Neutral
$des-blue: #23303e;
$grayish-verydark-blue: #5a636c;
$grayish-dark-blue: #818498;
$grayish-blue: #a7abae;
$white: #ffffff;

//FONT
$font-size: 18px;
