//LAYOUT
.content__box {
    margin: 0 160px;
    position: relative;
}

//COMPONENTS
body {
    font-family: 'Open Sans', sans-serif;
    font-size: $font-size;
}

a {
    text-decoration: none;
}

header {
    padding-bottom: 8px;
    z-index: 1000;
    @include flex();
}
