.teaser {
    
    &__image {
    position: absolute;
    height: 120%;
    width: 50%;
    top: -15%;
    right: -10%;
    z-index: 1;

        img {
            height: 110%;
        }

    }

    &__background {
        position: absolute;
        height: 150%;
        top: -35%;
        right: -25%;
        z-index: 0;

        img {
            height: 100%;
        }
    }
}
