//LAYOUT
.content__box {
    margin: 0 15%;
    position: relative;
}

//COMPONENTS
body {
    width: 100vw;
    font-family: 'Open Sans', sans-serif;
    font-size: $font-size;
    margin: 0;
}

a {
    text-decoration: none;
}

h2 {
    margin-top: 0;
}

header {
    padding-bottom: 8px;
    position: relative;
    z-index: 1000;
    width: 100vw;
    background-color: $white;
}

main {
    z-index: -1;
    background-color: $light-gray;
}

footer {
    background-color: $dark-blue;
}
