@mixin flex($justify-content: space-between, $align-items: center, $flex-direction: row) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    align-content: center;
    flex-direction: $flex-direction;
}

@mixin font_weight($number) {
    font-family: 'Open Sans', sans-serif;
    font-weight: $number;
}

@mixin mobile {
    @media only screen and (max-width: $mobile) {
        @content;
    }
}

