//BREAKPOINTS
$mobile: 425px;
$tablet: 770px;
$desktop: 1440px;

//COLORS
$dark-blue: #2d314d;
$lime-green: #35d45f;
$bright-cyan: #2bb7da;

$grayish-blue: #9698a6;
$light-grayish-blue: #f3f4f6;
$light-gray: #fafafa;
$white: #ffffff;

//FONT
$font-size: 18px;
$font-mobile: 14px;
