.box {
    width: 50%;
    height: inherit;

    @include mobile {
        width: 100%;
        height: 50vh;
        text-align: center;
    }

    &__grid {
        display: grid;
        width: 100vw;
        grid-template-areas: 
            "transform transform"
                "stand stand"
            "graphic photography";

        .transform {
            grid-area: transform;

            @include mobile {
                flex-direction: column-reverse;
            }
        }

        .stand {
            grid-area: stand;
        }

        .graphic {
            grid-area: graphic;
        }

        .photography {
            grid-area: photography;
        }

        @include mobile {
            @include flex(flex-start, center, column);
        }
    } 

    &__component {
        height: 60vh;
        @include flex();

        @include tablet {
            height: 50vh;
        }

        @include mobile {
            flex-direction: column;
            height: auto;
        }
    }

    &__text {
        padding-top: 10%;
        @extend .box;

        @include tablet {
            padding-top: 6%;
        }

        @include mobile {
            padding-top: 20%;
        }

        @include hd-desktop {
            padding-top: 8%;
        }
    }

    &__image {
        @extend .box;
        background-position: center;
        background-size: cover;

        @include mobile {
            height: 40vh;
        }
    }

    &__mix {
        position: relative;
        width: 100%;
        height: 70vh;

        div {
            height: 70vh;
            width: 100%;
            background-size: cover;
            background-position: center;

            @include mobile {
                background-image: 200% 100%;
            }
        }

        article {
            position: absolute;
            top: 70%;
            left: 23%;
            width: 55%;
            text-align: center;

            @include tablet {
                width: 90%;
                left: 5%;
            }

            @include mobile {
                top: 65%;
            }

            .blue {
                color: $dark-blue;
            }
        }

        h2 {
            margin: 0;
            color: $des-cyan;
            @include font(Fraunces, serif, 900, 28px);

            @include mobile {
                margin-bottom: 30px;
            }
        }

        p {
            color: $des-cyan;
            line-height: 26px;
            @include font(Barlow, sans-serif, 600, $font-size);

            @include tablet {
                font-size: 16px;
            }
        }
    }

    div {
        background-size: cover;
        background-position: center;

        @include mobile {
            height: 40vh;
        }
    }
}

.article {

    &__right,
    &__left {
        width: 70%;

        @include tablet {
            width: 90%;
        }

        @include mobile {
            width: 100%;
        }
    }

    &__right {
        padding-left: 15%;

        @include tablet {
            padding-left: 10%;
        }

        @include mobile {
            padding-left: 0;
        }
        
        .article__title {
            width: 90%;

            @include mobile {
                width: 80%;
            }
        }
    }

    &__left {
        padding-left: 20%;

        @include tablet {
            padding-left: 10%;
        }

        @include mobile {
            padding-left: 0;
        }
    }

    &__title {
        color: $des-blue;
        width: 80%;
        @include font(Fraunces, serif, 700, 42px);

        @include tablet {
            width: 90%;
            font-size: 32px;
        }

        @include mobile {
            width: 85%;
            font-size: 32px;
            margin-left: auto;
            margin-right: auto;
        }

        @include hd-desktop {
            font-size: 48px;
        }
    }

    &__text {
        line-height: 28px;
        padding-right: 5px;
        margin-bottom: 40px;
        width: 90%;
        color: $grayish-dark-blue;
        @include font(Barlow, sans-serif, 600, $font-size);

        @include tablet {
            width: 95%;
            font-size: 16px;
        }

        @include mobile {
            width: 85%;
            margin: 0 auto 40px;
        }

        @include hd-desktop {
            width: 75%;
            font-size: 20px;
        }
    }

    &__more {
        color: $des-blue;
        padding: 0 5px;
        @include font(Fraunces, serif, 700, $font-size);

        @include mobile {
            font-size: 16px;
        }
    }
}

.more {
    &__yellow {
        position: relative;

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 65%;
            width: 100%;
            z-index: -1;
            border-bottom: 8px solid $yellow;
            border-radius: 8px;
            opacity: 40%;

            @include mobile {
                left: 0;
            }
        }

        &:hover::before {
            opacity: 100%;
        }
    }

    &__red {
        position: relative;

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 65%;
            width: 100%;
            z-index: -1;
            border-bottom: 8px solid $red;
            border-radius: 8px;
            opacity: 40%;

            @include mobile {
                left: 0;
            }
        }

        &:hover::before {
            opacity: 100%;
        }
    }
}
