.box {
    width: 100%;
    height: 70vh;

    &__text {
        @extend .box;
    }

    &__mix {
        position: relative;
        @extend .box;

        article {
            position: absolute;
            top: 70%;
            left: 25%;
            width: 50%;
            text-align: center;

            .blue {
                color: $dark-blue;
            }
        }

        h3 {
            margin: 0;
            color: $des-cyan;
            @include font(Fraunces, serif, 700, 28px);
        }

        p {
            color: $des-cyan;
            line-height: 20px;
            @include font(Barlow, sans-serif, 600, 16px);
        }
    }

    div {
        height: 70vh;
        width: 100%;
        background-size: cover;

    }
}

.article {
    &__grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0;

        @include mobile {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__left,
    &__right {
        width: 65%;
        padding-top: 15%;
    }

    &__left {
        padding-left: 22%;
    }

    &__right {
        padding-left: 15%;
    }

    &__title {
        width: 90%;
        color: $des-blue;
        @include font(Fraunces, serif, 700, 42px);
    }

    &__text {
        width: 96%;
        line-height: 25px;
        padding-right: 5px;
        margin-bottom: 30px;
        color: $grayish-dark-blue;
        @include font(Barlow, sans-serif, 600, $font-size);
    }

    &__more {
        color: $des-blue;
        padding: 0 5px;
        @include font(Fraunces, serif, 700, $font-size);
    }
}

.more {
    &__yellow {
        position: relative;

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 65%;
            width: 100%;
            z-index: -1;
            border-bottom: 8px solid $yellow;
            border-radius: 8px;
            opacity: 40%;
        }

        &:hover::before {
            opacity: 100%;
        }
    }

    &__red {
        position: relative;

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 65%;
            width: 100%;
            z-index: -1;
            border-bottom: 8px solid $red;
            border-radius: 8px;
            opacity: 40%;

        }

        &:hover::before {
            opacity: 100%;
        }
    }
}
