footer {
    background-color: $moderate-light-cyan;
    opacity: 100%;
}

.footer {
    padding: 60px 0 30px;
    flex-wrap: wrap;
    @include flex(space-between, center, column);

    @include tablet {
        padding-bottom: 60px;
    }

    &__logo {
        margin-bottom: 15px;
        width: 10%;

        @include tablet {
            width: 20%;
        }

        @include mobile {
            width: 50%;
        }

        img {
            width: 100%;
            filter: invert(46%) sepia(39%) saturate(470%) hue-rotate(118deg) brightness(60%) contrast(95%);
        }
    }

    .navigation {
        width: 20%;
        margin-bottom: 40px;

        @include tablet {
            width: 40%;
        }

        @include mobile {
            width: 80%
        }

        &__list {
            @include flex();

            a {
                color: $moderate-cyan;
                @include font(Barlow, sans-serif, 600, 16px);

                @include hd-desktop {
                    font-size: $font-size;
                }

                &:hover {
                    color: $white;
                }

                img:hover {
                    filter: invert(100%) sepia(96%) saturate(17%) hue-rotate(311deg) brightness(150%) contrast(104%);
                }
            }
        }

        &__social {
            width: 10%;

            @include tablet {
                width: 20%;
            }

            @include mobile {
                width: 50%;
            }
        }
    }
}
