.teaser__image {
    width: 100vw;
    position: absolute;
    z-index: -1;
    top: -10%;

    img {
        width: 100%;
    }
}

.gallery {
    background-color: $moderate-light-cyan;
    @include flex();

    div {
        width: 25%;

        img {
            width: 100%;
        }
    }
}
