.gallery {
    background-color: $moderate-light-cyan;
    flex-wrap: wrap;
    @include flex();

    div {
        width: 25%;

        @include mobile {
            width: 50%;
            height: 25vh;
            overflow: hidden;
        }

        img {
            width: 100%;
        }
    }
}
