.header {
    padding: 20px 30px;
    background-image: url(../../../images/desktop/image-header.jpg);
    @include flex();

    @include mobile {
        padding: 20px;
        position: relative;
    }

    nav {
        width: 30%;

        @include mobile {
            display: none;
            position: absolute;
            top: 160%;
            width: 90%;
            padding: 7% 0 5%;
            background-color: $white;
        }
    }

    &__navigation {
        padding: 0;
        @include flex();

        @include mobile {
            flex-direction: column;

            li {
                margin-bottom: 25px;
            }
        }

        &_item {
            color: $white;
            @include font(Barlow, sans-serif, 400, 16px);

            @include mobile {
                color: $grayish-dark-blue;
                @include font(Barlow, sans-serif, 600, $font-size);
            }
        }
    }

    &__contact {
        background-color: $white;
        color: $des-blue;
        padding: 10px 25px;
        border-radius: 32px;
        @include font(Fraunces, serif, 700, 16px);

        @include mobile {
            background-color: $yellow;
            padding: 18px 30px;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
            color: $white;
        }
    }
}

.mobile__navigation {
    display: none;

    @include mobile {
        display: inline-block;
        border: none;
        background: transparent;
    }
}
