.header {
    padding: 20px 30px;
    background-image: url(../../../images/desktop/image-header.jpg);
    @include flex();

    nav {
        width: 30%;
    }

    &__navigation {
        padding: 0;
        @include flex();

        &_item {
            color: $white;
            @include font(Barlow, sans-serif, 400, 16px);
        }
    }

    &__contact {
        background-color: $white;
        color: $des-blue;
        padding: 10px 25px;
        border-radius: 32px;
        @include font(Fraunces, serif, 700, 16px);

        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
            color: $white;
        }
    }
}
