.header {
    padding: 20px 30px;
    @include flex();

    nav {
        width: 30%;
    }

    &__navigation {
        padding: 0;
        @include flex();

        &_item {
            color: $white;
            @include font(Barlow, sans-serif, 400);
        }
    }

    &__contact {
        background-color: $white;
        color: $des-blue;
        font-size: 16px;
        padding: 10px 25px;
        border-radius: 32px;
        @include font(Fraunces, serif, 700);
    }
}
