.teaser {
    overflow: hidden;
    text-align: center;
    height: 90vh;
    background-size: 100% 100%;

    @include mobile {
        height: 60vh;
        background-size: 200% 100%;
        background-position: center;
    }

    &__intro {
        padding: 5% 0;

        h1 {
            color: $white;
            letter-spacing: 8px;
            margin-bottom: 120px;
            @include font(Fraunces, serif, 900, 64px);

            @include mobile {
                font-size: 40px;
                margin-bottom: 55px;
            }
        }
    }
}
