.teaser {
    position: relative;
    overflow: hidden;
    text-align: center;
    height: 90vh;

    &__intro {
        padding: 5% 0;

        h1 {
            font-size: 64px;
            color: $white;
            letter-spacing: 8px;
            margin-bottom: 80px;
            @include font(Fraunces, serif, 900);
        }
    }
}
