.testimonials {
    padding: 10%;
    text-align: center;

    @include tablet {
        padding: 15% 10% 8%;
    }

    @include mobile {
        padding: 18% 5% 10%;
    }

    @include hd-desktop {
        padding: 10% 5%;
    }

    &__title {
        letter-spacing: 5px;
        margin: 0 0 100px;
        color: $grayish-blue;
        @include font(Fraunces, serif, 700, 26px);

        @include tablet {
            margin-bottom: 70px;
        }

        @include mobile {
            font-size: 16px;
        }
    }

    &__cards {
        @include flex();

        @include tablet {
            flex-direction: column;
        }
    }

    &__person {
        text-align: center;
        width: 30%;

        @include tablet {
            width: 100%;
            margin-bottom: 80px;
        }

        @include hd-desktop {
            width: 32%;
        }
    }

    &__image {
        margin-bottom: 50px;

        @include tablet {
            margin-bottom: 30px;
        }

        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;

            @include mobile {
                width: 70px;
                height: 70px;
            }
        }
    }

    &__text {
        color: $grayish-verydark-blue;
        line-height: 28px;
        margin-bottom: 50px;
        @include font(Barlow, sans-serif, 600, $font-size);

        @include tablet {
            margin-bottom: 20px;
        }

        @include mobile {
            font-size: 16px;
        }
    }

    &__name {
        color: $des-blue;
        margin-bottom: 10px;
        @include font(Fraunces, serif, 900, $font-size);

        @include tablet {
            margin-bottom: 5px;
        }

        @include mobile {
            margin-bottom: 10px;
        }
    }

    &__position {
        margin: 0;
        color: $grayish-blue;
        @include font(Barlow, sans-serif, 600, 16px);

        @include tablet {
            font-weight: 400;
        }
    }
}
