body {
    font-family: 'Epilogue', sans-serif;
    margin: 0;
}

main {
    @include mobile {
        width: 100vw;
    }
}

a,
li {
    text-decoration: none;
    color: $gray-color;
    font-size: 16px;

    &:hover {
        cursor: pointer;
        color: $black-color;
    }
}

ul {
    list-style: none;
}