//Colors
$primary-cyan: #cee3e9;
$primary-neon: #52ffa8;
$neutral-greyBlue: #4e5b73;
$neutral-darkGreyBlue: #323a49;
$neutral-darkBlue: #1f2632;

//Breakpoints
$mobile: 375px;
$desktop: 1440px;

//font-size
$font-size: 28px;