.content__box {
  margin: 0 160px; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: row; }

.invite {
  width: 160px;
  height: 40px;
  border: none;
  border-radius: 24px;
  color: #ffffff;
  background: linear-gradient(0.25turn, #35d45f, #2bb7da);
  letter-spacing: 1px;
  font-weight: 400; }
