.content__box {
  margin: 0 15%;
  position: relative; }

body {
  width: 100vw;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin: 0; }

a {
  text-decoration: none; }

h2 {
  margin-top: 0; }

header {
  padding-bottom: 8px;
  position: relative;
  z-index: 1000;
  width: 100vw;
  background-color: #ffffff; }

main {
  z-index: -1;
  background-color: #fafafa; }

footer {
  background-color: #2d314d; }

.navigation {
  z-index: 100;
  width: 30%; }
  .navigation__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row; }
  .navigation__desktop {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row; }
    .navigation__desktop a {
      font-size: 14px;
      color: #9698a6;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400; }
  .navigation__social ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row; }
  .navigation__footer li {
    margin-bottom: 5px; }
  .navigation__footer a {
    color: #ffffff;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300; }

.title {
  font-size: 26px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }

.article__text {
  color: #9698a6;
  line-height: 30px;
  margin-bottom: 30px;
  padding-right: 25px; }

.section {
  padding: 100px 0;
  background-color: #f3f4f6;
  position: relative;
  z-index: 1; }
  .section__intro {
    width: 50%;
    margin-bottom: 70px; }
  .section__title {
    font-size: 42px;
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300; }
  .section--white {
    background-color: transparent;
    padding: 100px 0; }

.flex__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: row; }

.perks__description {
  width: 24%; }

.teaser {
  width: 100vw;
  height: 90vh;
  position: relative; }
  .teaser .content__box {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row; }
  .teaser__text {
    position: relative;
    width: 40%;
    top: -5%; }
    .teaser__text .article__text {
      width: 85%; }
  .teaser__title {
    font-size: 60px;
    line-height: 72px;
    margin-bottom: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300; }

.invite {
  width: 160px;
  height: 40px;
  border: none;
  border-radius: 24px;
  color: #ffffff;
  background: linear-gradient(0.25turn, #35d45f, #2bb7da);
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 14px; }

.teaser__image {
  position: absolute;
  height: 120%;
  width: 50%;
  top: -15%;
  right: -10%;
  z-index: 2; }
  .teaser__image img {
    height: 110%; }

.teaser__background {
  position: absolute;
  height: 150%;
  top: -35%;
  right: -25%;
  z-index: 0; }
  .teaser__background img {
    height: 100%; }

.card {
  width: 23%;
  height: 60%;
  background-color: #ffffff;
  border-radius: 8px; }
  .card__title {
    margin-bottom: 50px; }
  .card__image {
    width: 100%;
    height: 220px; }
    .card__image img {
      width: 100%;
      height: 100%;
      border-radius: 8px 8px 0px 0px; }

.article {
  padding: 30px 20px; }
  .article__author {
    color: #9698a6;
    font-size: 12px; }
  .article__headline {
    font-size: 22px;
    margin-top: 0; }
  .article__preview {
    font-size: 16px;
    color: #9698a6; }

.footer {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: row; }
  .footer__left {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row; }
  .footer__logo {
    margin-bottom: 50px; }
    .footer__logo img {
      filter: invert(95%) sepia(95%) saturate(0%) hue-rotate(217deg) brightness(107%) contrast(105%); }
  .footer__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row; }
  .footer__right {
    text-align: right; }
  .footer__copyright {
    color: #9698a6;
    font-size: 14px; }
  .footer .invite {
    margin-bottom: 15px; }

ul {
  list-style: none; }
