.invite {
    width: 160px;
    height: 40px;
    border: none;
    border-radius: 24px;
    color: $white;
    background: linear-gradient(0.25turn, $lime-green, $bright-cyan);
    letter-spacing: 1px;
    font-weight: 400;
}
