.navigation {
    z-index: 100;
    width: 30%;
    height: 100%;
    display: flex;
    align-content: center;
    
    @include tablet {
        @include flex();
        width: 40%;
    }

    @include mobile {
        display: none;
        position: absolute;
        top: 120%;
        width: 100%;
        height: auto;
        padding: 40px 0;
        background-color: $white;
        border-radius: 8px;
    }

    &__header {
        height: 100%;
        flex-wrap: wrap;
        @include flex();
    }

    &__desktop {
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        flex-wrap: wrap;
        @include flex();

        @include mobile {
            flex-direction: column;

            li {
                margin-bottom: 10px;
            }
        }

        a {
            font-size: 14px;
            color: $grayish-blue;
            @include font_weight(400);

            @include mobile {
                font-size: 16px;
                color: $dark-blue;
            }

            &:hover,
            &:active {
                padding-bottom: 20px;
                border-bottom: 5px solid $lime-green;
            }
        }
    }

    &__invite {
        @include mobile {
            display: none;
        }
    }

    //FOOTER
    &__social {

        ul {
            padding: 0;
            margin: 0;
            @include flex();

            img:hover {
                filter: invert(46%) sepia(97%) saturate(359%) hue-rotate(60deg) brightness(96%) contrast(91%);
            }
        }

        @include mobile {
            margin-bottom: 25px;

            li {
                width: 20%;
            }

            a {
                width: 100%;
                display: block;

                img {
                    width: 60%;
                }
            }
        }
    }

    &__footer {
        @include mobile {
            padding: 0;
            margin: 0;
        }

        li {
            margin-bottom: 5px;

            @include mobile {
                margin-bottom: 10px;
            }
        }

        a {
            color: $white;
            font-size: 14px;
            @include font_weight(300);

            &:hover {
                color: $lime-green;
            }
        }
    }

    //MOBILE
    &__mobile {
        display: none;

        @include mobile {
            display: block;
            border: none;
            background-color: transparent;

            &--hidden {
                display: none;
            }
        }
    }
}
