.navigation {
    z-index: 100;
    width: 30%;

    &__header {
        @include flex();
    }

    &__desktop {
        padding: 0;
        list-style: none;

        @include flex();

        a {
            font-size: 14px;
            color: $grayish-blue;
            @include font_weight(400);
        }
    }

    //FOOTER
    &__social {

        ul {
            padding: 0;
            margin: 0;
            @include flex();
        }
    }

    &__footer {

        li {
            margin-bottom: 5px;
        }

        a {
            color: $white;
            font-size: 14px;
            @include font_weight(300);
        }
    }
}
