.navigation {
    width: 25%;

    &__header {
        @include flex();
    }

    &__desktop {
        padding: 0;
        list-style: none;

        @include flex();

        a {
            font-size: 14px;
            font-weight: 300;
            color: $grayish-blue;
        }
    }
}
