.teaser {
    width: 100vw;
    height: 90vh;
    position: relative;
    
    .content__box {
        height: 100%;
        @include flex;
    }

    &__text {
        position: relative;
        width: 40%;
        top: -5%;

        .article__text {
            width: 85%;
        }
    }

    &__title {
        font-size: 60px;
        line-height: 72px;
        margin-bottom: 24px;
        @include font_weight(300);
    }
}

