.title {
  @include font_weight(400);
}

.article {
  width: 24%;

  &__bundle {
    @include flex;
  }
  
  &__text {
  color: $grayish-blue;
  line-height: 30px;
  margin-bottom: 30px;
  }
}
