.title {
  font-size: 26px;
  color: $dark-blue;
  @include font_weight(300);
}

.article__text {
  color: $grayish-blue;
  line-height: 30px;
  margin-bottom: 30px;
  padding-right: 25px;
}

.section {
  padding: 100px 0;
  background-color: $light-grayish-blue;
  position: relative;
  z-index: 1;

  &__intro {
    width: 50%;
    margin-bottom: 70px;
  }

  &__title {
    font-size: 42px;
    margin-bottom: 30px;
    color: $dark-blue;
    @include font_weight(300);
  }

  &--white {
    background-color: transparent;
    padding: 100px 0;
  }
}

.flex__row {
  @include flex();
}

.perks__description {
  width: 24%;

  p {
    font-size: 16px;
  }
}
