#random {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50px;
    background-color: $primary-neon;
    position: absolute;
    top: 90%;

    &:hover {
        box-shadow: 0 0 30px $primary-neon;
        cursor: pointer;
    }
}