.card {
    border: none;
    border-radius: 16px;
    background-color: $neutral-darkGreyBlue;
    padding: 50px;
    width: 450px;
    height: 200px;
    margin: 10% auto;
    position: relative;
    @include flex(space-between, center, column);
}