.separator {

    &__desktop {
        
        @include mobile {
            display: none;
        }
    }

    &__mobile {
        display: none;

        @include mobile {
            display: block;
        }
    }
}