.separator {

    &__desktop {
        margin-bottom: 25px;
        
        @include mobile {
            display: none;
        }
    }

    &__mobile {
        display: none;

        @include mobile {
            display: block;
            margin-top: 20px;
            margin-bottom: 40px;
        }
    }
}