blockquote {
    color: $primary-cyan;
}

.card__text {
    text-align: center;

    &_adviceNumber {
        font-size: 10px;
        font-family: sans-serif;
        font-weight: 400;
        letter-spacing: 3px;
        color: $primary-neon;
    }

    &_advice {
        
        @include mobile {
            font-size: 22px;
        }
    }
}