body {
  font-family: 'Epilogue', sans-serif; }

a,
li {
  text-decoration: none;
  color: #696969;
  font-size: 16px; }
  a:hover,
  li:hover {
    cursor: pointer;
    color: #141414; }

ul {
  list-style: none; }

.header {
  padding: 2% 2%;
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: row;
  align-content: flex-start; }
  .header__logo {
    width: 100px;
    padding-top: 10px; }
    .header__logo img {
      width: 100%; }

.wrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: row;
  align-content: flex-start; }
  @media only screen and (max-width: 425px) {
    .wrapper {
      display: none;
      padding: 15px;
      background-color: #fff;
      width: 70%;
      height: 100vh;
      position: absolute;
      top: 0;
      right: -2%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      flex-direction: column; } }

.navigation {
  width: 35%; }
  .navigation__list {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row; }
    @media only screen and (max-width: 425px) {
      .navigation__list {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-content: center;
        flex-direction: column; } }
  .navigation__drop {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row; }

.links {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: row; }
  @media only screen and (max-width: 425px) {
    .links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      flex-direction: column; } }
  .links__register {
    border: 1px solid #696969;
    border-radius: 10px;
    padding: 10px 15px; }
    @media only screen and (max-width: 425px) {
      .links__register {
        width: 100%; } }

.dropdown {
  display: none;
  position: absolute;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 10px 0 #00000030; }
  .dropdown__features, .dropdown__company {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: center;
    flex-direction: column; }
    .dropdown__features li, .dropdown__company li {
      line-height: 30px; }
  .dropdown__icon {
    margin-right: 10px; }

.right-align {
  margin-left: -40px; }

.active {
  display: block;
  padding: 5px;
  background-color: #fff;
  border: none;
  border-radius: 10px; }

.arrow_up {
  display: none;
  margin-left: 10px; }

.arrow_down {
  margin-left: 10px; }

.hero__image_desktop {
  height: 100%; }
  .hero__image_desktop img {
    height: 100%; }

.hero__image_mobile {
  display: none; }

.hero {
  padding: 2% 10%;
  height: 75vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  flex-direction: row; }
  .hero__text {
    padding-top: 20px;
    width: 47%;
    height: 100%; }
    .hero__text h1 {
      font-size: 80px;
      margin-bottom: 50px; }
    .hero__text p {
      color: #696969;
      font-size: 18px;
      line-height: 25px;
      width: 80%;
      margin-bottom: 50px; }

.clients {
  width: 90%;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: row; }

.btn_black {
  padding: 15px 25px;
  border: none;
  border-radius: 10px;
  background-color: #141414;
  color: #fafafa;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px; }
  .btn_black:hover {
    cursor: pointer;
    background-color: #fafafa;
    color: #141414;
    border: 2px solid #141414; }

.menuIcon {
  border: none;
  background: transparent; }
