body {
  font-family: 'Epilogue', sans-serif;
  margin: 0; }

@media only screen and (max-width: 428px) {
  main {
    width: 100vw; } }

a,
li {
  text-decoration: none;
  color: #696969;
  font-size: 16px; }
  a:hover,
  li:hover {
    cursor: pointer;
    color: #141414; }

ul {
  list-style: none; }

.header {
  padding: 2% 2%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: row;
  align-content: flex-start; }
  @media only screen and (max-width: 428px) {
    .header {
      padding: 5%; } }
  .header__logo {
    width: 100px;
    margin-right: 30px;
    padding-top: 10px; }
    @media only screen and (max-width: 428px) {
      .header__logo {
        width: 90px; } }
    .header__logo img {
      width: 100%; }

.menu {
  display: none; }
  @media only screen and (max-width: 428px) {
    .menu {
      display: block; } }

.exit {
  display: none; }
  @media only screen and (max-width: 428px) {
    .exit {
      display: block;
      text-align: end;
      margin-bottom: 20px; } }

.wrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: row;
  align-content: flex-start; }
  @media only screen and (max-width: 428px) {
    .wrapper {
      display: none; } }

.mobile_wrapper {
  padding: 15px;
  background-color: #fff;
  width: 60%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: center;
  flex-direction: column; }

.navigation {
  width: 35%; }
  @media only screen and (max-width: 1024px) {
    .navigation {
      width: 40%; } }
  .navigation__list {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row; }
    @media only screen and (max-width: 428px) {
      .navigation__list {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-content: center;
        flex-direction: column; }
        .navigation__list li {
          margin-bottom: 20px; } }
  .navigation__drop {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row; }
    @media only screen and (max-width: 428px) {
      .navigation__drop {
        justify-content: flex-start; } }

.links {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: row; }
  @media only screen and (max-width: 1024px) {
    .links {
      width: 20%; } }
  @media only screen and (max-width: 428px) {
    .links {
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      flex-direction: column; }
      .links__login {
        margin-bottom: 20px; } }
  .links__register {
    border: 1px solid #696969;
    border-radius: 10px;
    padding: 10px 15px; }
    @media only screen and (max-width: 428px) {
      .links__register {
        width: 90%; } }

.dropdown {
  display: none;
  position: absolute;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 10px 0 #00000030; }
  @media only screen and (max-width: 428px) {
    .dropdown {
      position: relative;
      box-shadow: none;
      width: 150px; } }
  .dropdown__features, .dropdown__company {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: center;
    flex-direction: column; }
    .dropdown__features li, .dropdown__company li {
      line-height: 30px; }
      @media only screen and (max-width: 428px) {
        .dropdown__features li, .dropdown__company li {
          line-height: 20px; } }
  .dropdown__icon {
    margin-right: 10px; }
  @media only screen and (max-width: 428px) {
    .dropdown__company {
      padding-left: 20px; } }

.right-align {
  margin-left: -40px; }
  @media only screen and (max-width: 428px) {
    .right-align {
      margin-left: 10px; } }

.active {
  display: block;
  padding: 5px;
  background-color: #fff;
  border: none;
  border-radius: 10px; }

.arrow_up {
  display: none;
  margin-left: 10px; }

.arrow_down {
  margin-left: 10px; }

.hero__image_desktop {
  height: 100%; }
  .hero__image_desktop img {
    height: 100%; }
  @media only screen and (max-width: 428px) {
    .hero__image_desktop {
      display: none; } }

.hero__image_mobile {
  display: none; }
  @media only screen and (max-width: 428px) {
    .hero__image_mobile {
      display: block;
      width: 100%; }
      .hero__image_mobile img {
        width: 100%; } }

.hero__text img {
  width: 20%; }

.hero {
  padding: 2% 10%;
  height: 75vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  flex-direction: row; }
  @media only screen and (max-width: 428px) {
    .hero {
      flex-direction: column;
      padding: 0;
      height: auto;
      margin-top: 15px; } }
  .hero__text {
    padding-top: 20px;
    width: 47%;
    height: 100%; }
    @media only screen and (max-width: 428px) {
      .hero__text {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        flex-direction: column; } }
    .hero__text h1 {
      font-size: 80px;
      margin-bottom: 50px; }
      @media only screen and (max-width: 428px) {
        .hero__text h1 {
          font-size: 32px;
          margin: 20px 10px; } }
    .hero__text p {
      color: #696969;
      font-size: 18px;
      line-height: 25px;
      width: 80%;
      margin-bottom: 50px; }
      @media only screen and (max-width: 428px) {
        .hero__text p {
          margin: 0 0 30px;
          width: 90%;
          font-size: 16px; } }

.clients {
  width: 90%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: row; }

.btn_black {
  padding: 15px 25px;
  border: none;
  border-radius: 10px;
  background-color: #141414;
  color: #fafafa;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px; }
  .btn_black:hover {
    cursor: pointer;
    background-color: #fafafa;
    color: #141414;
    border: 2px solid #141414; }

.menuIcon {
  border: none;
  background: transparent; }
