.hero {

    &__image {
    
        &_desktop {
            height: 100%;

            img {
                height: 100%;
            }

            @include mobile {
                display: none;
            }
        }

        &_mobile {
            display: none;

            @include mobile {
                display: block;
                width: 100%;

                img {
                    width: 100%;
                }
            }
        }
    }

    &__text {

        img {
            width: 20%;
        }
    }
}