.header {
    padding: 2% 2%;
    position: relative;
    width: 100vw;
    @include flex;
    align-content: flex-start;

    &__logo {
        width: 100px;
        padding-top: 10px;

        img {
            width: 100%;
        }
    }
}

.wrapper {
    width: 90%;
    @include flex;
    align-content: flex-start;

    @include mobile {
        display: none;
        padding: 15px;
        background-color: #fff;
        width: 70%;
        height: 100vh;
        position: absolute;
        top: 0;
        right: -2%;

        @include flex(flex-start, center, column);
    }
}

.navigation {
    width: 35%;

    &__list {
        padding: 0;
        @include flex;

        @include mobile {
            @include flex(space-between, flex-start, column);
        }
    }

    &__drop {
        position: relative;
        @include flex;
    }
}

.links {
    width: 15%;
    @include flex;

    @include mobile {
        @include flex(space-between, center, column);
    }

    &__register {
        border: 1px solid $gray-color;
        border-radius: 10px;
        padding: 10px 15px;

        @include mobile {
            width: 100%;
        }
    }
}

.dropdown {
    display: none;
    position: absolute;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px 0 #00000030;

    &__features,
    &__company {
        padding: 10px;
        @include flex(space-evenly, flex-start, column);

        li {
            line-height: 30px;
        }
    }

    &__icon {
        margin-right: 10px;
    }
}

.right-align {
    margin-left: -40px;
}

.active {
    display: block;
    padding: 5px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
}

.arrow_up {
    display: none;
    margin-left: 10px;
}

.arrow_down {
    margin-left: 10px;
}