.header {
    padding: 2% 2%;
    @include flex;

    &__logo {
        width: 18%;
        padding-top: 10px;

        img {
            width: 100%;
        }
    }
}

.wrapper {
    width: 40%;
    @include flex;
    align-content: flex-start;
}

.navigation {
    width: 72%;

    &__list {
        padding: 0;
        @include flex;
    }

    &__drop {
        @include flex;
    }
}

.links {
    width: 15%;
    @include flex;

    &__register {
        border: 1px solid $gray-color;
        border-radius: 10px;
        padding: 10px 15px;
    }
}

.dropdown {
    display: none;

    &__features,
    &__company {
        @include flex(space-evenly, center, column);
    }
}

.active {
    display: block;
    padding: 5px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
}

.arrow_up {
    display: none;
    margin-left: 10px;
}

.arrow_down {
    margin-left: 10px;
}