.hero {
    padding: 2% 10%; 
    height: 75vh;
    @include flex(space-between, flex-start);

    @include mobile {
        flex-direction: column;
        padding: 0;
        height: auto;
        margin-top: 15px;
    }

    &__text {
        padding-top: 20px;
        width: 47%;
        height: 100%;

        @include mobile {
            width: 100%;
            text-align: center;
            @include flex(space-evenly, center, column);
        }

        h1{
            font-size: 80px;
            margin-bottom: 50px;

            @include mobile {
                font-size: 32px;
                margin: 20px 10px;
            }
        }

        p {
            color: $gray-color;
            font-size: $paragraph-size;
            line-height: 25px;
            width: 80%;
            margin-bottom: 50px;

            @include mobile {
                margin: 0 0 30px;
                width: 90%;
                font-size: 16px;
            }
        }
    }
}

.clients {
    width: 90%;
    margin-top: 50px;
    @include flex;
}