body {
  margin: 0; }

header,
main {
  width: 100vw; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0; }

.box, .box__text, .box__image {
  width: 50%;
  height: inherit; }
  @media only screen and (max-width: 425px) {
    .box, .box__text, .box__image {
      width: 100%;
      height: 50vh;
      text-align: center; } }
  .box__grid {
    display: grid;
    width: 100vw;
    grid-template-areas: "transform transform" "stand stand" "graphic photography"; }
    .box__grid .transform {
      grid-area: transform; }
      @media only screen and (max-width: 425px) {
        .box__grid .transform {
          flex-direction: column-reverse; } }
    .box__grid .stand {
      grid-area: stand; }
    .box__grid .graphic {
      grid-area: graphic; }
    .box__grid .photography {
      grid-area: photography; }
    @media only screen and (max-width: 425px) {
      .box__grid {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        flex-direction: column; } }
  .box__component {
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row; }
    @media only screen and (max-width: 1024px) {
      .box__component {
        height: 50vh; } }
    @media only screen and (max-width: 425px) {
      .box__component {
        flex-direction: column;
        height: auto; } }
  .box__text {
    padding-top: 10%; }
    @media only screen and (max-width: 1024px) {
      .box__text {
        padding-top: 6%; } }
    @media only screen and (max-width: 425px) {
      .box__text {
        padding-top: 20%; } }
    @media only screen and (min-width: 1920px) {
      .box__text {
        padding-top: 8%; } }
  .box__image {
    background-position: center;
    background-size: cover; }
    @media only screen and (max-width: 425px) {
      .box__image {
        height: 40vh; } }
  .box__mix {
    position: relative;
    width: 100%;
    height: 70vh; }
    .box__mix div {
      height: 70vh;
      width: 100%;
      background-size: cover;
      background-position: center; }
      @media only screen and (max-width: 425px) {
        .box__mix div {
          background-image: 200% 100%; } }
    .box__mix article {
      position: absolute;
      top: 70%;
      left: 23%;
      width: 55%;
      text-align: center; }
      @media only screen and (max-width: 1024px) {
        .box__mix article {
          width: 90%;
          left: 5%; } }
      @media only screen and (max-width: 425px) {
        .box__mix article {
          top: 65%; } }
      .box__mix article .blue {
        color: #19536b; }
    .box__mix h2 {
      margin: 0;
      color: #25564b;
      font-family: Fraunces, serif;
      font-weight: 900;
      font-size: 28px; }
      @media only screen and (max-width: 425px) {
        .box__mix h2 {
          margin-bottom: 30px; } }
    .box__mix p {
      color: #25564b;
      line-height: 26px;
      font-family: Barlow, sans-serif;
      font-weight: 600;
      font-size: 18px; }
      @media only screen and (max-width: 1024px) {
        .box__mix p {
          font-size: 16px; } }
  .box div, .box__text div, .box__image div {
    background-size: cover;
    background-position: center; }
    @media only screen and (max-width: 425px) {
      .box div, .box__text div, .box__image div {
        height: 40vh; } }

.article__right, .article__left {
  width: 70%; }
  @media only screen and (max-width: 1024px) {
    .article__right, .article__left {
      width: 90%; } }
  @media only screen and (max-width: 425px) {
    .article__right, .article__left {
      width: 100%; } }

.article__right {
  padding-left: 15%; }
  @media only screen and (max-width: 1024px) {
    .article__right {
      padding-left: 10%; } }
  @media only screen and (max-width: 425px) {
    .article__right {
      padding-left: 0; } }
  .article__right .article__title {
    width: 90%; }
    @media only screen and (max-width: 425px) {
      .article__right .article__title {
        width: 80%; } }

.article__left {
  padding-left: 20%; }
  @media only screen and (max-width: 1024px) {
    .article__left {
      padding-left: 10%; } }
  @media only screen and (max-width: 425px) {
    .article__left {
      padding-left: 0; } }

.article__title {
  width: 80%;
  color: #23303e;
  font-family: Fraunces, serif;
  font-weight: 700;
  font-size: 42px; }
  @media only screen and (max-width: 1024px) {
    .article__title {
      width: 90%;
      font-size: 32px; } }
  @media only screen and (max-width: 425px) {
    .article__title {
      width: 85%;
      font-size: 32px;
      margin-left: auto;
      margin-right: auto; } }
  @media only screen and (min-width: 1920px) {
    .article__title {
      font-size: 48px; } }

.article__text {
  width: 90%;
  padding-right: 5px;
  margin-bottom: 40px;
  line-height: 28px;
  color: #818498;
  font-family: Barlow, sans-serif;
  font-weight: 600;
  font-size: 18px; }
  @media only screen and (max-width: 1024px) {
    .article__text {
      width: 95%;
      font-size: 16px; } }
  @media only screen and (max-width: 425px) {
    .article__text {
      width: 85%;
      margin: 0 auto 40px; } }
  @media only screen and (min-width: 1920px) {
    .article__text {
      width: 75%;
      font-size: 20px; } }

.article__more {
  color: #23303e;
  padding: 0 5px;
  font-family: Fraunces, serif;
  font-weight: 700;
  font-size: 18px; }
  @media only screen and (max-width: 425px) {
    .article__more {
      font-size: 16px; } }

.more__yellow {
  position: relative; }
  .more__yellow::before {
    content: "";
    display: block;
    position: absolute;
    top: 65%;
    width: 100%;
    z-index: -1;
    border-bottom: 8px solid #fad400;
    border-radius: 8px;
    opacity: 40%; }
    @media only screen and (max-width: 425px) {
      .more__yellow::before {
        left: 0; } }
  .more__yellow:hover::before {
    opacity: 100%; }

.more__red {
  position: relative; }
  .more__red::before {
    content: "";
    display: block;
    position: absolute;
    top: 65%;
    width: 100%;
    z-index: -1;
    border-bottom: 8px solid #fe7867;
    border-radius: 8px;
    opacity: 40%; }
    @media only screen and (max-width: 425px) {
      .more__red::before {
        left: 0; } }
  .more__red:hover::before {
    opacity: 100%; }

.gallery {
  background-color: #90d4c5;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: row; }
  .gallery div {
    width: 25%; }
    @media only screen and (max-width: 425px) {
      .gallery div {
        width: 50%;
        height: 25vh;
        overflow: hidden; } }
    .gallery div img {
      width: 100%; }

.header {
  padding: 20px 30px;
  background-image: url(../../../images/desktop/image-header.jpg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: row; }
  @media only screen and (max-width: 425px) {
    .header {
      padding: 20px;
      position: relative; } }
  @media only screen and (min-width: 1920px) {
    .header {
      padding: 20px 50px; } }
  .header__nav {
    width: 30%; }
    @media only screen and (max-width: 1024px) {
      .header__nav {
        width: 60%; } }
    @media only screen and (max-width: 425px) {
      .header__nav {
        display: none; } }
    @media only screen and (min-width: 1920px) {
      .header__nav {
        width: 40%; } }
  .header__navigation {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row; }
    @media only screen and (max-width: 425px) {
      .header__navigation {
        flex-direction: column; }
        .header__navigation li {
          margin-bottom: 25px; }
          .header__navigation li:last-child {
            margin-top: 20px; } }
    .header__navigation_item {
      color: #ffffff;
      font-family: Barlow, sans-serif;
      font-weight: 400;
      font-size: 18px; }
      @media only screen and (max-width: 425px) {
        .header__navigation_item {
          color: #818498;
          font-family: Barlow, sans-serif;
          font-weight: 600;
          font-size: 18px; } }
  .header__contact {
    background-color: #ffffff;
    color: #23303e;
    padding: 10px 25px;
    border-radius: 32px;
    font-family: Fraunces, serif;
    font-weight: 700;
    font-size: 16px; }
    .header__contact:hover {
      background-color: rgba(255, 255, 255, 0.3);
      color: #ffffff; }
    @media only screen and (max-width: 425px) {
      .header__contact {
        background-color: #fad400;
        padding: 18px 30px; } }

.mobile__navigation {
  display: none; }
  @media only screen and (max-width: 425px) {
    .mobile__navigation {
      display: inline-block;
      border: none;
      background: transparent; } }

.opacity {
  opacity: 50%; }

.nav__open {
  display: block;
  position: absolute;
  top: 150%;
  width: 88%;
  padding: 7% 0 5%;
  background-color: #ffffff; }
  .nav__open::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    right: 0;
    top: -25px;
    border-bottom: 1px solid #ffffff;
    border-right: 30px solid #ffffff;
    border-top: 25px solid transparent; }

.teaser {
  height: 90vh;
  overflow: hidden;
  text-align: center;
  background-size: 100% 100%; }
  @media only screen and (max-width: 1024px) {
    .teaser {
      height: 70vh;
      background-size: 150% 100%;
      background-position: center; } }
  @media only screen and (max-width: 425px) {
    .teaser {
      height: 60vh;
      background-size: 200% 100%;
      background-position: center; } }
  .teaser__intro {
    padding: 5% 0; }
    .teaser__intro h1 {
      color: #ffffff;
      letter-spacing: 8px;
      margin-bottom: 120px;
      font-family: Fraunces, serif;
      font-weight: 900;
      font-size: 64px; }
      @media only screen and (max-width: 1024px) {
        .teaser__intro h1 {
          font-size: 54px;
          margin-bottom: 60px; } }
      @media only screen and (max-width: 425px) {
        .teaser__intro h1 {
          font-size: 40px;
          margin-bottom: 55px; } }

.testimonials {
  padding: 10%;
  text-align: center; }
  @media only screen and (max-width: 1024px) {
    .testimonials {
      padding: 15% 10% 8%; } }
  @media only screen and (max-width: 425px) {
    .testimonials {
      padding: 18% 5% 10%; } }
  @media only screen and (min-width: 1920px) {
    .testimonials {
      padding: 10% 5%; } }
  .testimonials__title {
    letter-spacing: 5px;
    margin: 0 0 100px;
    color: #a7abae;
    font-family: Fraunces, serif;
    font-weight: 700;
    font-size: 26px; }
    @media only screen and (max-width: 1024px) {
      .testimonials__title {
        margin-bottom: 70px; } }
    @media only screen and (max-width: 425px) {
      .testimonials__title {
        font-size: 16px; } }
  .testimonials__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row; }
    @media only screen and (max-width: 1024px) {
      .testimonials__cards {
        flex-direction: column; } }
  .testimonials__person {
    text-align: center;
    width: 30%; }
    @media only screen and (max-width: 1024px) {
      .testimonials__person {
        width: 100%;
        margin-bottom: 80px; } }
    @media only screen and (min-width: 1920px) {
      .testimonials__person {
        width: 32%; } }
  .testimonials__image {
    margin-bottom: 50px; }
    @media only screen and (max-width: 1024px) {
      .testimonials__image {
        margin-bottom: 30px; } }
    .testimonials__image img {
      width: 100px;
      height: 100px;
      border-radius: 50%; }
      @media only screen and (max-width: 425px) {
        .testimonials__image img {
          width: 70px;
          height: 70px; } }
  .testimonials__text {
    color: #5a636c;
    line-height: 28px;
    margin-bottom: 50px;
    font-family: Barlow, sans-serif;
    font-weight: 600;
    font-size: 18px; }
    @media only screen and (max-width: 1024px) {
      .testimonials__text {
        margin-bottom: 20px; } }
    @media only screen and (max-width: 425px) {
      .testimonials__text {
        font-size: 16px; } }
  .testimonials__name {
    color: #23303e;
    margin-bottom: 10px;
    font-family: Fraunces, serif;
    font-weight: 900;
    font-size: 18px; }
    @media only screen and (max-width: 1024px) {
      .testimonials__name {
        margin-bottom: 5px; } }
    @media only screen and (max-width: 425px) {
      .testimonials__name {
        margin-bottom: 10px; } }
  .testimonials__position {
    margin: 0;
    color: #a7abae;
    font-family: Barlow, sans-serif;
    font-weight: 600;
    font-size: 16px; }
    @media only screen and (max-width: 1024px) {
      .testimonials__position {
        font-weight: 400; } }

footer {
  background-color: #90d4c5;
  opacity: 100%; }

.footer {
  padding: 60px 0 30px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: column; }
  @media only screen and (max-width: 1024px) {
    .footer {
      padding-bottom: 60px; } }
  .footer__logo {
    margin-bottom: 15px;
    width: 10%; }
    @media only screen and (max-width: 1024px) {
      .footer__logo {
        width: 20%; } }
    @media only screen and (max-width: 425px) {
      .footer__logo {
        width: 50%; } }
    .footer__logo img {
      width: 100%;
      filter: invert(46%) sepia(39%) saturate(470%) hue-rotate(118deg) brightness(60%) contrast(95%); }
  .footer .navigation {
    width: 20%;
    margin-bottom: 40px; }
    @media only screen and (max-width: 1024px) {
      .footer .navigation {
        width: 40%; } }
    @media only screen and (max-width: 425px) {
      .footer .navigation {
        width: 80%; } }
    .footer .navigation__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      flex-direction: row; }
      .footer .navigation__list a {
        color: #458c7e;
        font-family: Barlow, sans-serif;
        font-weight: 600;
        font-size: 16px; }
        @media only screen and (min-width: 1920px) {
          .footer .navigation__list a {
            font-size: 18px; } }
        .footer .navigation__list a:hover {
          color: #ffffff; }
        .footer .navigation__list a img:hover {
          filter: invert(100%) sepia(96%) saturate(17%) hue-rotate(311deg) brightness(150%) contrast(104%); }
    .footer .navigation__social {
      width: 10%; }
      @media only screen and (max-width: 1024px) {
        .footer .navigation__social {
          width: 20%; } }
      @media only screen and (max-width: 425px) {
        .footer .navigation__social {
          width: 50%; } }
