body {
  margin: 0; }

header,
main {
  width: 100vw; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.box, .box__text {
  width: 50%; }
  .box div, .box__text div {
    height: 100%;
    width: 100%; }

.article__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0; }

.teaser__image {
  width: 100vw;
  position: absolute;
  z-index: -1;
  top: -10%; }
  .teaser__image img {
    width: 100%; }

.header {
  padding: 20px 30px;
  background-image: url(../../../images/desktop/image-header.jpg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: row; }
  .header nav {
    width: 30%; }
  .header__navigation {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row; }
    .header__navigation_item {
      color: #ffffff;
      font-family: Barlow, sans-serif;
      font-weight: 400; }
  .header__contact {
    background-color: #ffffff;
    color: #23303e;
    font-size: 16px;
    padding: 10px 25px;
    border-radius: 32px;
    font-family: Fraunces, serif;
    font-weight: 700; }

.teaser {
  position: relative;
  overflow: hidden;
  text-align: center;
  height: 90vh; }
  .teaser__intro {
    padding: 5% 0; }
    .teaser__intro h1 {
      font-size: 64px;
      color: #ffffff;
      letter-spacing: 8px;
      margin-bottom: 80px;
      font-family: Fraunces, serif;
      font-weight: 900; }
